//base sizes

$mainContainer: 1200px;
$container-mod: 1230;
$layout-size: 1400;

//colors
$color-white: #ffffff;

//brakepoints
$md-1: 320px;
$md-2: 480px;
$md-3: 768px;
$md-4: 1024px;
$md-5: 1920px;
